<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Android 13+（API 33+）：精准媒体权限（仅图片/视频） -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

<!--    &lt;!&ndash; Android 10-12（API 29-32）：分区存储权限 &ndash;&gt;
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> &lt;!&ndash; 仅在 API 32 及以下生效 &ndash;&gt;

    &lt;!&ndash; Android 9 及以下（API ≤28）：传统存储权限 &ndash;&gt;
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ByteDanceWaterfall"
        android:requestLegacyExternalStorage="false"> <!-- Android 10+ 强制启用分区存储（默认开启，无需额外配置） -->
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BaseActivity"/>
        <activity android:name=".activity.DetailActivity"/>
        <activity android:name=".activity.FeedScrollActivity"/>
        <activity android:name=".activity.TestMediaUploadActivity"/>
        <activity android:name=".activity.MediaUploadActivity"
            android:exported="true"/>
        <activity android:name=".activity.ForgetPwdActivity"/>
        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".activity.RegisterActivity"/>
        <activity android:name=".activity.CartActivity"/>
        <activity android:name=".activity.BaseBottomNavActivity"/>
        <activity android:name=".activity.MyInfoActivity"/>
        <!--提供安全的文件共享机制，允许应用向其他应用临时授权访问本地文件-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"> <!-- 允许授予临时权限 -->
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" /> <!-- 关联上述配置文件 -->
        </provider>
    </application>

</manifest>